---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";

const identity = {
    firstName: "Jacob",
    country: "United States",
    occupation: "Developer",
    hobbies: ["Japanese", "Cycling", "Running"],
};

const showContent = true;
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        Hello, my name is {identity?.firstName}. I am a {
            identity?.occupation
        } from the {identity?.country}.
    </p>
    {identity?.hobbies &&
        <h2>Hobbies</h2>
        <ul>
            {identity.hobbies?.map((hobby) => <li class="skill">{hobby}</li>)}
        </ul>
    }
    {showContent &&
        <p>This is conditionally handled text.</p>
    }
</BaseLayout>