---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob("./travel/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <BlogPost url={post.url} title={post.frontmatter.title} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
