---
import Social from "./Social.astro";
const platform = "github";
const username = "jacobproffer";
---

<style>
  ul {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 2rem 0 0;
    list-style: none;
  }
</style>

<footer>
  <ul>
    <li>
      <Social platform="x" username="jacobproffer" />
    </li>
    <li>
      <Social platform="github" username="jacobproffer" />
    </li>
    <li>
      <Social platform="instagram" username="jacobproffer_" />
    </li>
  </ul>
</footer>
