---
import Navigation from "./Navigation.astro";
---

<style>
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
</style>

<div class="wrap">
  <header>
    <div>Jacob Proffer</div>
  </header>
  <Navigation />
</div>
